*.pyc
.idea/misc.xml
.idea/Group Projects.iml
*.zip

assignment2_release/data/images
assignment2_release/data/objects
assignment2_release/data/data.tar.gz
assignment2_release/logs/exp_2023-10-21 04_54_31/models/checkpoint.pth.tar
assignment2_release/logs/exp_2023-10-21 04_54_31/models/model_best.pth.tar
assignment2_release/code/.pytest_cache
assignment2_release/code/__pycache__
assignment2_release/Images
assignment2_release/submission.zip
assignment2_release/temp_submission/
assignment2_release/writeup/CS_771_Assignment_Writeup.pdf


Course_Project/Dataset/UA-DETRAC
Course_Project/Dataset/DETRAC-test-data
Course_Project/Dataset/DETRAC-train-data
Course_Project/Dataset/DETRAC-Test-Annotations-XML
Course_Project/Dataset/DETRAC-Train-Annotations-XML
Course_Project/Dataset/fog_8_0
Course_Project/Dataset/fog_8_1
Course_Project/Dataset/fog_8_2
Course_Project/Dataset/UA-DETRAC-Annotations
Course_Project/Dataset/UA-DETRAC-Annotations-avgAttributes
Course_Project/Dataset/UA-DETRAC-Annotations-Yolo
Course_Project/Test_Output
